body {
  background-color: #fbf9f6 !important;
  color: #332c25;
}

header.bg-dark,
footer.bg-secondary {
  background-color: #211c18 !important;
}

.navbar .nav-link.active {
  color: #f1aa73;
  font-weight: 700;
  font-size: 1.5rem;
}

h1,
h2,
h3 {
  letter-spacing: -0.03em;
}

header h1 {
  color: #fbf9f6;
}

h2 {
  font-weight: bold;
}

.lead {
  font-weight: 400;
}

.navbar {
  background-color: #fbf9f6 !important;
}
.navbar .nav-link {
  color: #4a3b32 !important;
  transition: color 0.2s ease;
}

.navbar .nav-link:hover {
  color: #c5a880 !important;
}

.text-primary {
  color: #4a3b32 !important;
}

.border-bottom {
  border-bottom-color: #c5a880 !important;
}

.bg-light {
  background-color: #f3ece3 !important;
}
.bg-white {
  background-color: #fbf9f6 !important;
}

.card {
  border: 1px solid #eadecf !important;
  background-color: #ffffff !important;
}

.card .bg-light {
  background-color: #fbf9f6 !important;
  border-bottom: 1px solid #eadecf;
}

.card .text-primary {
  color: #c5a880 !important;
}
